body{ margin:0;font-family:微软雅黑;}
.left{ width:200px; height:100%; border-right:1px solid #CCCCCC ; color:#000000; font-size:14px; text-align:ce;}
.div1{text-align:left; width:210px; padding-top:10px;}
.div2{height:50px; line-height:40px;cursor: pointer; font-size:28px; position:relative;border-bottom:#ccc 1px dotted;}
.div4{left: 20px;}
.jbsz {position: absolute; height: 40px; width: 20px; left: 40px; top: 10px; background:url(images/1.png);}
.xwzx {position: absolute; height: 20px; width: 20px; left: 40px; top: 10px; background:url(images/2.png);}
.zxcp {position: absolute; height: 20px; width: 20px; left: 40px; top: 10px; background:url(images/4.png);}
.lmtj {position: absolute; height: 20px; width: 20px; float:left;  top: 10px; background:url(images/8.png);}
.div4{
    width:180px;float:right;
}
#div5{height:0 auto;width:1100px; margin:0 auto;}
.right{width:850px;float:right;margin-top:-360px;margin-left:0px;height:auto }
#div6 div{width:850px;}
.div3{display:block;cursor:pointer; font-size:13px;}
.div3 ul{width:200px;min-height:300px;}
.div3 li{ height:50px; line-height:50px; list-style:none; border-bottom:#ccc 1px dotted; text-align:left;}
.left{height:380px;}